<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761444577109-ks7oe277cktml0tkd23cdnapb1nc3qoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761444577109-ks7oe277cktml0tkd23cdnapb1nc3qoq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOHnImyyYm8-pjQsitgFn6cLb5ZsWukUs</string>
	<key>GCM_SENDER_ID</key>
	<string>761444577109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techpinterest</string>
	<key>PROJECT_ID</key>
	<string>tech-pinterest-d7911</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-pinterest-d7911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761444577109:ios:e5b878878787c42aaac9dc</string>
</dict>
</plist>